{{ define "main" }}
{{- .Content -}}
<div>
    <h1 class="text-2xl">Search Corda Documentation</h1>

    <!-- <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1"></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch.min.css"> -->

    <!-- You can also add this theme to add a Bootstrap-like appearance to your widgets. -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1/dist/instantsearch-theme-algolia.min.css"> -->

    <div id="r3-react-target"></div>
    <script src="/js/siteSearch.js"></script>
</div>
{{ end }}
