<!DOCTYPE html>
<html{{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
{{ partial "head.html" . }}
<body class="bg-gray-100 font-poppins">
    <noscript>You need to enable javascript for this site</noscript>
    {{- partial "navbar.html" . -}}
        <div class="grid grid-cols-12 gap-4 ">
            <div class="col-span-3 md:col-span-2 p-2">
                {{- partial "sidebar.html" . -}}
            </div>
            <div class="col-span-9 md:col-span-10 p-2">
                {{- block "main" . -}}{{- end -}}
            </div>
            <div class="sm:col-span-3 md:col-span-2 p-2"></div>
            <div class="sm:col-span-9 md:col-span-10 p-2">
                {{- partial "footer.html" . -}}
                {{- partial "git.html" . -}}
            </div>
        </div>
</body>
{{- partial "scripts.html" . -}}
</html>

<!-- THIS IS THE DEFAULT PAGE - for a 'docs' page see the 'docs' folder -->
