/**
* Typography; Sizes, line heights, margins, display
*/

h1, h2, h3, h4, h5, h6 {
    color: #2f353f;
    margin-top: 44px;
    margin-bottom: 22px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

p {
    color: $grey-500;
    font-size: 18px;
    line-height: 1.7;
}

ul, li {
    color: #2f353f;
}

.text-xs    { font-size: .75rem; }
.text-sm    { font-size: .875rem; }
.text-base  { font-size: 1rem; }
.text-lg    { font-size: 1.125rem; }
.text-xl    { font-size: 1.25rem; }
.text-2xl   { font-size: 1.5rem; }
.text-3xl   { font-size: 1.875rem; }
.text-4xl   { font-size: 2.25rem; }
.text-5xl   { font-size: 3rem; }
.text-6xl   { font-size: 4rem; }

.font-hairline  { font-weight: 100; }
.font-thin      { font-weight: 200; }
.font-light     { font-weight: 300; }
.font-normal    { font-weight: 400; }
.font-medium    { font-weight: 500; }
.font-semibold  { font-weight: 600; }
.font-bold      { font-weight: 700; }
.font-extrabold { font-weight: 800; }
.font-black     { font-weight: 900; }
